Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$

chore: resolve conflicts
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  tools/cog_runner.py.lock
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: remove editable installs in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#262)
  .copier-answers.yml
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  tools/cog_runner.py.lock
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  tools/shared.just
Due: justfile-format

chore(deps): update dependencies and pre-commit hooks
  uv.lock
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#264)
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  tools/uv_locker.py
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
  tools/get_version_from_pre_commit_config.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .pre-commit-config.yaml
  pyproject.toml
  tools/get_version_from_pre_commit_config.py.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .github/workflows/ci.yml
Due: none

chore: fix conflicts
  tools/get_version_from_pre_commit_config.py
Due: none

chore(template): accept new copier update (#273)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
  tools/get_version_from_pre_commit_config.py
  tools/get_version_from_pre_commit_config.py.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier update
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier update (#276)
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  noxfile.py
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  pyproject.toml
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  tests/test_apply_command.py
  tools/get_version_from_pre_commit_config.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#278)
  .copier-answers.yml
  noxfile.py
  pyproject.toml
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  tests/test_apply_command.py
  tools/get_version_from_pre_commit_config.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  noxfile.py
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix pyrefly errors
  tests/test_sync_pyproject_min_version.py
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Update Python version support in pyproject.toml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  tools/get_version_from_pre_commit_config.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: remove unused lock file
  tools/get_version_from_pre_commit_config.py.lock
Due: none

chore: remove unused lock file (#282)
  tools/get_version_from_pre_commit_config.py.lock
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  pyproject.toml
  requirements/py315-test-extras.yaml
  requirements/py315-test.yaml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#283)
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  pyproject.toml
  requirements/py315-test-extras.yaml
  requirements/py315-test.yaml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix and update deps
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#285)
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps
