Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck
  - --group=typecheck
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=mypy
  - --requirements-include=orjson
  ...

chore: ignore local editable hooks in ci
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: ignore typecheck in ci
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update requirements
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/py314-dev.yaml
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_uv_dependency_groups.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

chore: update cruft and actions
  .cruft.json
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/cruft-update.yml
  .gitignore
  .pre-commit-config.yaml
  justfile
  noxfile.py
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  ruff.toml
  src/sync_pre_commit_hooks/__init__.py
  tools/check_dist_version.py
  tools/cog_runner.py
  tools/shared.just
  tools/typecheck.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update actions
  .github/workflows/ci.yml
Due: none

chore: update write
  .github/workflows/ci.yml
  tests/_utils.py
Due: none

chore: added try-repo
  .github/workflows/ci.yml
Due: none

chore: only typecheck on ubuntu
  .github/workflows/ci.yml
Due: none

chore: update try-repo
  .github/workflows/ci.yml
Due: none

chore: bugfix
  .github/workflows/ci.yml
Due: none

chore: reject new Cruft update
  .cruft.json
Due: none

chore: accept new Cruft update
  .cruft.json
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  pyproject.toml.rej
Due: sync-pre-commit-deps, sync-readme-rev-version, fill-pre-commit-hook-deps

chore: update pre-commit
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  pyproject.toml.rej
Due: sync-pre-commit-deps, sync-readme-rev-version, fill-pre-commit-hook-deps

chore: removed unused exclude
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: cruft update
  .cruft.json
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc.toml
  .taplo.toml
  justfile
  pyproject.toml
  ruff.toml
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update requirements
  .pre-commit-config.yaml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: accept new Cruft update
  .cruft.json
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  justfile
  noxfile.py
  pyproject.toml
  pyproject.toml.rej
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update cruft
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  noxfile.py
  pyproject.toml
  pyproject.toml.rej
  src/sync_pre_commit_hooks/resolve_dependencies.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: accept new Cruft update
  .cruft.json
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: removed .rej
  .pre-commit-config.yaml.rej
Due: none

chore: add check-file-extension hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  noxfile.py
  pyproject.toml
  src/sync_pre_commit_hooks/check_file_extension.py
  tests/test_check_file_extension.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update readme
  README.md
Due: sync-readme-rev-version

chore: update check-file-extension local hook
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: exclude local install hooks
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: exclude local install hooks
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: accept new Cruft update
  .cruft.json
  .pre-commit-config.yaml.rej
Due: none

chore: add copier
  .copier-answers.yml
Due: none

chore: update copier
  .copier-answers.yml
  .github/workflows/copier-update.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  requirements/pre-commit-additional-dependencies.txt
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  tools/cog_runner.py
  tools/shared.just
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: re-add typecheck to pre-commit
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: cleanup requirements
  pyproject.toml
  requirements/py314-dev.yaml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: remove .cruft
  .cruft.json
Due: none

chore: update pre-commit config
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update pyproject.toml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier-update
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update requirements
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

fix: update typing-extensions requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Path conditions:
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
