Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$

feat: add sync-uv-build-deps hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/fill_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pre_commit_language_version.py
  src/sync_pre_commit_hooks/sync_uv_build_deps.py
  tests/test__utils.py
  tests/test_sync_uv_build_deps.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: add pyproject-upgrade-deps
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

feat: add sync-uv-build-deps hook (#92)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  justfile
  pyproject.toml
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/fill_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pre_commit_language_version.py
  src/sync_pre_commit_hooks/sync_uv_build_deps.py
  tests/test__utils.py
  tests/test_sync_uv_build_deps.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.4.0 to 0.5.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: use sync-uv-build-deps in .pre-commit-config.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update pre-commit config
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update .pre-commit-config
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

fix: fix pre-commit hooks (#94)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.5.0 to 0.5.1
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

chore: fix conflicts
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#96)
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/bump.yml
  .github/workflows/ci.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update conflicts
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#101)
  .copier-answers.yml
  .github/workflows/bump.yml
  .github/workflows/ci.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/update-copier.yml
Due: none

chore: update copier
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update
  pyproject.toml
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update copier (#104)
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  requirements/uv.toml.tmp
  tools/requirements_lock.py
Due: none

chore(template): accept new copier update (#106)
  .copier-answers.yml
  requirements/uv.toml.tmp
  tools/requirements_lock.py
Due: none

chore(deps): update dependencies and pre-commit hooks
  requirements/lock/uvx-tools.txt
  uv.lock
Due: fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  justfile
  pyproject.toml
Due: justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#111)
  .copier-answers.yml
  justfile
  pyproject.toml
  requirements/uvx-tools.txt
Due: justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#117)
  .copier-answers.yml
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps
