Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$

chore: update copier (#59)
  .copier-answers.yml
  .github/workflows/update-copier.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
  ruff.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts update deps
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  requirements/pre-commit-additional-dependencies.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix
  .pre-commit-config.yaml
  README.md
Due: sync-pre-commit-deps, sync-readme-rev-version, fill-pre-commit-hook-deps

chore(template): accept new copier update (#60)
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  README.md
  justfile
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  requirements/pre-commit-additional-dependencies.txt
  ruff.toml
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update (#61)
  .copier-answers.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
  tests/test_sync_pre_commit_hooks.py
  tools/noxtools.py
  tools/requirements_lock.py
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

chore: fix conflicts update deps
  requirements/lock/uvx-tools.txt
  tests/test_sync_pre_commit_hooks.py
  uv.lock
Due: fill-pre-commit-hook-deps

chore(template): accept new copier update (#62)
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
  requirements/lock/uvx-tools.txt
  tests/test_sync_pre_commit_hooks.py
  tools/noxtools.py
  tools/requirements_lock.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  tools/requirements_lock.py
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  noxfile.py
  pyproject.toml
  tools/check_dist_version.py
  tools/noxtools.py
  tools/requirements_lock.py
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts update deps
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  tools/sync_readme_rev_version.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#69)
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  noxfile.py
  pyproject.toml
  tools/check_dist_version.py
  tools/noxtools.py
  tools/requirements_lock.py
  tools/sync_readme_rev_version.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update deps
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
  tests/test_fill_pre_commit_deps.py
  tests/test_sync_pre_commit_deps.py
  tests/test_sync_pre_commit_language_version.py
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#71)
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
  tests/test_fill_pre_commit_deps.py
  tests/test_sync_pre_commit_deps.py
  tests/test_sync_pre_commit_language_version.py
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/dependabot.yml
  .github/workflows/bump.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix
  .github/dependabot.yml
  uv.lock
Due: none

chore: fix
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#76)
  .copier-answers.yml
  .github/workflows/bump.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update lint-upgrade to to allow clean version bump
  justfile
Due: justfile-format

chore: update lint-upgrade to to allow clean version bump (#79)
  justfile
Due: justfile-format

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/bump.yml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/bump.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: sync
  uv.lock
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: remove check-file-extension
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/sync_pre_commit_hooks/check_file_extension.py
  tests/test_check_file_extension.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: add sync_readme_rev_version.py to update-package-version.yml workflow
  .github/workflows/update-package-version.yml
Due: none

feat: add forbidden-file hook (to replace check-file-extension hook) (#89)
  .github/workflows/update-package-version.yml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/sync_pre_commit_hooks/check_file_extension.py
  tests/test_check_file_extension.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.3.0 to 0.4.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: initial commit
  src/sync_pre_commit_hooks/sync_uv_build_deps.py
Due: none
