Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

forbidden-files:
  name: forbidden files
  entry: Found forbidden file.
  language: fail

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck-runner
  - --group=type
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=ty
  - --requirements-include=pyrefly
  ...

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update (#288)
  .copier-answers.yml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#292)
  .copier-answers.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: fix
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
Due: fill-pre-commit-hook-deps

chore(template): accept new copier update (#293)
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  tools/noxtools.py
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  tools/cog_runner.py.lock
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

feat: add format-python-section-headers hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  noxfile.py
  pyproject.toml
  src/sync_pre_commit_hooks/format_python_section_headers.py
  tests/test_format_python_section_headers.py
  tools/noxtools.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: ignore format-python-section-headers in pre-commit-ci
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

feat: add format-python-section-headers hook (#305)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  noxfile.py
  pyproject.toml
  src/sync_pre_commit_hooks/format_python_section_headers.py
  tests/test_format_python_section_headers.py
  tools/noxtools.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.10.0 to 0.11.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

fix: fix regex for format-python-section-headers
  .editorconfig
  noxfile.py
  src/sync_pre_commit_hooks/format_python_section_headers.py
  tests/test_format_python_section_headers.py
  tools/noxtools.py
Due: none

chore: ignore test_format_python...
  .pre-commit-config.yaml
  tests/test_format_python_section_headers.py
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

fix: fix regex for format-python-section-headers (#307)
  .editorconfig
  .pre-commit-config.yaml
  noxfile.py
  src/sync_pre_commit_hooks/format_python_section_headers.py
  tests/test_format_python_section_headers.py
  tools/noxtools.py
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.11.0 to 0.11.1
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
