Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

forbidden-files:
  name: forbidden files
  entry: Found forbidden file.
  language: fail

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck-runner
  - --group=type
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=ty
  - --requirements-include=pyrefly
  ...

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: initial add of sync-pyproject-min-versions
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test__utils.py
  tests/test_sync_pre_commit_deps.py
  tests/test_sync_pyproject_min_version.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: added test include/exclude with main of sync-pyproject-min-version
  tests/test_sync_pyproject_min_version.py
Due: none

chore: update pyproject.toml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix issues
  .pre-commit-config.yaml
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

feat: add sync-pyproject-min-versions (#160)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test__utils.py
  tests/test_sync_pre_commit_deps.py
  tests/test_sync_pyproject_min_version.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.5.1 to 0.6.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

fix: fix redundant read
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: none

fix: fix redundant read (#162)
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: none

chore(bump): bump sync-pre-commit-hooks from 0.6.0 to 0.6.1
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-deps.yml
  justfile
  tools/sync_pyproject_min_versions.py
Due: justfile-format

chore: fix typing issues
  justfile
  tools/sync_pyproject_min_versions.py
Due: justfile-format

chore(template): accept new copier update (#164)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-deps.yml
  justfile
Due: justfile-format

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#165)
  .copier-answers.yml
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  uv.lock
Due: none

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update (#167)
  .copier-answers.yml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .taplo.toml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
  tools/requirements_lock.py
Due: none

chore: resolve conflicts
  tools/requirements_lock.py
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  tools/requirements_lock.py
  tools/uv_locker.py
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  justfile
  pyproject.toml
  requirements/lock/uvx-tools.txt
  tools/check_dist_version.py
Due: justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#172)
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  requirements/lock/uvx-tools.txt
  tools/check_dist_version.py
  tools/requirements_lock.py
  tools/uv_locker.py
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .taplo.toml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#173)
  .copier-answers.yml
  .taplo.toml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  pyproject.toml
  requirements/lock/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: add sync-pyproject-min-versions support to pep723 scripts
  README.md
  noxfile.py
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-readme-rev-version

chore: fix typecheck issues
  tests/test_sync_pyproject_min_version.py
Due: none

feat: support pep723 scripts with sync-pyproject-min-versions (#178)
  README.md
  noxfile.py
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-readme-rev-version

chore(bump): bump sync-pre-commit-hooks from 0.6.1 to 0.7.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
