Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck
  - --group=typecheck
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=mypy
  - --requirements-include=orjson
  ...

chore: update pyproject.toml
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier-update
  .copier-answers.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pylintrc.toml
  justfile
  noxfile.py
  pyproject.toml
  requirements/lock/uvx-tools.txt
  ruff.toml
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier-update
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update pyproject
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: copier-update
  .copier-answers.yml
  .pre-commit-config.yaml
  .pylintrc.toml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update copier and requirements
  .copier-answers.yml
  .github/dependabot.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_uv_dependency_groups.py
  tools/requirements_lock.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update copier and requirements
  .copier-answers.yml
  .github/workflows/copier-update.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update copier and requirements
  requirements/lock/uvx-tools.txt
  uv.lock
Due: fill-pre-commit-hook-deps

chore: copier-update
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  noxfile.py
  requirements/lock/uvx-tools.txt
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update copier and requirements
  .copier-answers.yml
  .github/dependabot.yml
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update copier and requirements
  .copier-answers.yml
  .github/workflows/copier-update.yml
  .pre-commit-config.yaml
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  justfile
Due: justfile-format

chore(template): reject new copier update
  .copier-answers.yml
Due: none

Refactor update templates in justfile
  justfile
Due: justfile-format

chore(template): accept new copier update
  .copier-answers.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/check-pr.yml
  .github/workflows/copier-update.yml
  justfile
  tools/requirements_lock.py
Due: justfile-format

chore(template): accept new copier update
  .copier-answers.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/check-pr.yml
  .pre-commit-config.yaml
  justfile
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

Remove conflicts
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/copier-update.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/release-auto.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-cruft.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  justfile
  pyproject.toml
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#47)
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/release-auto.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-cruft.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  justfile
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): update copier
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-cruft.yml
  .github/workflows/update-package-version.yml
Due: none

chore(template): update copier (#49)
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-cruft.yml
  .github/workflows/update-package-version.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#50)
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#52)
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update requirements and copier
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  changelog.d/README.txt
  changelog.d/templates/auto-changelog/macros.jinja2
  changelog.d/templates/auto-changelog/template.jinja2
  changelog.d/templates/new_fragment.md.j2
  justfile
  noxfile.py
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  tools/remove_changelog_html_tag.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update requirements and copier (#56)
  .copier-answers.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  changelog.d/README.txt
  changelog.d/templates/auto-changelog/macros.jinja2
  changelog.d/templates/auto-changelog/template.jinja2
  changelog.d/templates/new_fragment.md.j2
  justfile
  noxfile.py
  pyproject.toml
  requirements/lock/pre-commit-additional-dependencies.txt
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  tools/remove_changelog_html_tag.py
  uv.lock
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
  tests/test_sync_pre_commit_hooks.py
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: resolve conflicts
  tests/test_sync_pre_commit_hooks.py
Due: none

chore(template): accept new copier update (#57)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/update-copier.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: update copier
  .copier-answers.yml
  .github/workflows/update-copier.yml
Due: none

Path conditions:
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
