Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#202)
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-package-version.yml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

Update validate-pyproject-schema-store revision
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#212)
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  noxfile.py.lock
  uv.lock
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/__init__.py
  tools/dataclass_parser.py
  tools/noxtools.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  src/sync_pre_commit_hooks/__init__.py
  tests/test_sync_pre_commit_deps.py
Due: none

chore: fix linting issue
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#220)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/__init__.py
  src/sync_pre_commit_hooks/_utils.py
  src/sync_pre_commit_hooks/resolve_dependencies.py
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test__utils.py
  tests/test_fill_pre_commit_deps.py
  tests/test_sync_pre_commit_deps.py
  tests/test_sync_pyproject_min_version.py
  tests/test_sync_uv_dependency_groups.py
  tools/cog_utils.py
  tools/dataclass_parser.py
  tools/noxtools.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  tools/shared.just
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  .pre-commit-config.yaml
  justfile
  pyproject.toml
Due: sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#226)
  .copier-answers.yml
  justfile
  tools/shared.just
Due: justfile-format

chore(template): accept new copier update
  .copier-answers.yml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  .pre-commit-config.yaml
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/actions/setup-cached-uv-and-python/action.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix pylint errors
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: none

feat: add `# sync-pyproject-min-versions:ignore` directive
  .github/dependabot.yml
  .pre-commit-config.yaml
  .taplo.toml
  README.md
  noxfile.py.lock
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-pre-commit-deps, sync-readme-rev-version, fill-pre-commit-hook-deps

chore: fix lint issues
  README.md
  noxfile.py.lock
Due: sync-readme-rev-version

feat: add `# sync-pyproject-min-versions:ignore` directive (#236)
  .github/dependabot.yml
  .pre-commit-config.yaml
  .taplo.toml
  README.md
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-pre-commit-deps, sync-readme-rev-version, fill-pre-commit-hook-deps
