Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

forbidden-files:
  name: forbidden files
  entry: Found forbidden file.
  language: fail

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck-runner
  - --group=type
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=ty
  - --requirements-include=pyrefly
  ...

chore(bump): bump sync-pre-commit-hooks from 0.8.1 to 0.9.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: use `--frozen --offline` with scripts with locked scripts
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: update readme
  README.md
Due: sync-readme-rev-version

fix: use `--frozen --offline` with scripts (#239)
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.9.0 to 0.9.1
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

fix: remove uv from dependencies.
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  tests/test_sync_pre_commit_deps.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: add uv optional-dependency section
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

fix: remove uv from dependencies. (#241)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py310-test-extras.yaml
  requirements/py310-test.yaml
  requirements/py311-test-extras.yaml
  requirements/py311-test.yaml
  requirements/py312-test-extras.yaml
  requirements/py312-test.yaml
  requirements/py313-test-extras.yaml
  requirements/py313-test.yaml
  requirements/py314-dev.yaml
  requirements/py314-test-extras.yaml
  requirements/py314-test.yaml
  requirements/uvx-tools.txt
  src/sync_pre_commit_hooks/sync_pre_commit_deps.py
  tests/test_sync_pre_commit_deps.py
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(bump): bump sync-pre-commit-hooks from 0.9.1 to 0.9.2
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
  .taplo.toml
  noxfile.py
  pyproject.toml
  ruff.toml
  tests/.ruff.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix ruff issues
  tests/.ruff.toml
Due: none

chore(template): accept new copier update (#244)
  .copier-answers.yml
  .github/workflows/ci.yml
  .taplo.toml
  noxfile.py
  pyproject.toml
  ruff.toml
  tests/.ruff.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  pyproject.toml
  tests/.ruff.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix ruff issues
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#245)
  .copier-answers.yml
  pyproject.toml
  tests/.ruff.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve pyrefly issues
  pyproject.toml
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#247)
  .copier-answers.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  uv.lock
Due: none

feat: add sync-pyproject-min-versions: on/off
  README.md
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-readme-rev-version

feat: add sync-pyproject-min-versions: on/off (#251)
  README.md
  src/sync_pre_commit_hooks/sync_pyproject_min_versions.py
  tests/test_sync_pyproject_min_version.py
Due: sync-readme-rev-version

chore(bump): bump sync-pre-commit-hooks from 0.9.2 to 0.10.0
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py
  noxfile.py.lock
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#254)
  .copier-answers.yml
Due: none

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: resolve conflicts and update deps
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#259)
  .copier-answers.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
