Repository wpk-nist-gov/sync-pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sync-pre-commit-deps, justfile-format, sync-readme-rev-version, sync-uv-dependency-groups, sync-pre-commit-language-version, fill-pre-commit-hook-deps

forbidden-files:
  name: forbidden files
  entry: Found forbidden file.
  language: fail

sync-pre-commit-deps:
  name: sync-pre-commit-deps
  entry: sync-pre-commit-deps
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]
  args:
  - --requirements=requirements/lock/pre-commit-additional-dependencies.txt

justfile-format:
  name: justfile format
  entry: apply-command just --fmt --unstable --justfile
  language: python
  pass_filenames: true
  additional_dependencies:
  - --editable=.
  - rust-just==1.43.0

sync-readme-rev-version:
  name: sync-readme-rev-version
  description: update rev version in README.md
  entry: python tools/sync_readme_rev_version.py
  language: python
  pass_filenames: false

sync-uv-dependency-groups:
  name: sync-uv-dependency-groups
  entry: sync-uv-dependency-groups
  language: python
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

sync-pre-commit-language-version:
  name: sync-pre-commit-language-version
  entry: sync-pre-commit-language-version
  language: python
  args:
  - --language-version-file=.python-version
  - --hook=typecheck
  pass_filenames: false
  additional_dependencies:
  - --editable=.[all]

fill-pre-commit-hook-deps:
  name: fill-pre-commit-hook-deps
  alias: typecheck
  entry: fill-pre-commit-deps
  language: python
  pass_filenames: false
  args:
  - --hook=typecheck-runner
  - --group=type
  - --exclude=pylint
  - --requirements=requirements/lock/uvx-tools.txt
  - --requirements-include=ty
  - --requirements-include=pyrefly
  ...

chore(template): accept new copier update (#118)
  .copier-answers.yml
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/check-pr.yml
  .pre-commit-config.yaml
  pyproject.toml
  tools/requirements_lock.py
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/ci.yml
Due: none

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  requirements/lock/uvx-tools.txt
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
  justfile
  tools/requirements_lock.py
Due: sync-pre-commit-deps, justfile-format, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  tools/requirements_lock.py
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/check-pr.yml
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#129)
  .copier-answers.yml
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Change dependency key from 'deps' to 'conda-deps'
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update (#137)
  .copier-answers.yml
  .github/workflows/ci.yml
  pyproject.toml
  requirements/py314-dev.yaml
  requirements/uvx-tools.txt
  uv.lock
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
Due: none

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .pre-commit-config.yaml
  requirements/uvx-tools.txt
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore(template): accept new copier update (#150)
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/uvx-tools.txt
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/lock/uvx-tools.txt
  requirements/uvx-tools.txt
  uv.lock
Due: sync-pre-commit-deps, sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore: fix conflicts
  .pre-commit-config.yaml
Due: sync-pre-commit-deps, fill-pre-commit-hook-deps

chore: fix conflicts
  src/sync_pre_commit_hooks/sync_uv_build_deps.py
  src/sync_pre_commit_hooks/sync_uv_dependency_groups.py
  tests/test_sync_pre_commit_deps.py
Due: none

chore(deps): update dependencies and pre-commit hooks
  requirements/lock/uvx-tools.txt
  uv.lock
Due: fill-pre-commit-hook-deps

chore(template): accept new copier update [skip ci]
  .copier-answers.yml
  pyproject.toml
  tests/test_sync_pre_commit_hooks.py
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

Clean up test_sync_pre_commit_hooks.py
  tests/test_sync_pre_commit_hooks.py
Due: none

chore(template): accept new copier update (#156)
  .copier-answers.yml
  pyproject.toml
Due: sync-readme-rev-version, sync-uv-dependency-groups, fill-pre-commit-hook-deps

chore(template): accept new copier update
  .copier-answers.yml
  .github/workflows/release.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
Due: none

chore(template): accept new copier update (#157)
  .copier-answers.yml
  .github/workflows/release.yml
  .github/workflows/update-copier.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-package-version.yml
Due: none

Path conditions:
  forbidden-files: any of: \.(rej|bak)$
  sync-pre-commit-deps: any of: ^\.pre-commit-config\.yaml$|^requirements/lock/pre-commit-additional-dependencies\.txt$
  justfile-format: any of: \.?[jJ]ustfile$|.*\.just$
  sync-readme-rev-version: any of: ^pyproject\.toml|^README\.md
  sync-uv-dependency-groups: any of: ^pyproject.toml$|^\.python-version$
  sync-pre-commit-language-version: any of: ^\.python-version$
  fill-pre-commit-hook-deps: any of: ^pyproject.toml$|^\.pre-commit-config.yaml$|^requirements/lock/uvx-tools\.txt$
